
@main(null) {
    @if(flash.containsKey("error")) {
        <div>
            <p>
            <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        }



    <section id="login" class="layout">
                    <form id="loginForm" action="@routes.Application.strategyRoom()">
                        <fieldset>
                            <legend>Enter your credentials soldier</legend>
                            <label for="username" >Username</label>
                            <input type="text" id="username" name="username"> <br>
                            <button type="submit">Log In</button>
                        </fieldset>
                    </form>
                </section>
}