@(username: String)

@main(username) {

<section id="strategyRoom" class="layout">


    <div id="readyMessage">
        <a href="@routes.Application.waitingRoom(username)"> Ready!</a>
    </div>

<div id="strategyBoard" class="board">
        <h2>Define your Strategy</h2>

        <div>

            <div class="boardHeader"></div>
            <div class="boardHeader">A</div>
            <div class="boardHeader">B</div>
            <div class="boardHeader">C</div>
            <div class="boardHeader">D</div>
            <div class="boardHeader">E</div>
            <div class="boardHeader">F</div>
            <div class="boardHeader">G</div>
            <div class="boardHeader">H</div>
            <div class="boardHeader">I</div>
            <div class="boardHeader">J</div>
        </div>

        <div id="boardGrid">

            <div>
                <div class="sideHeader">0</div>
                <div data-x="0" data-y="0" class="boardBody"></div>
                <div data-x="1" data-y="0" class="boardBody"></div>
                <div data-x="2" data-y="0" class="boardBody"></div>
                <div data-x="3" data-y="0" class="boardBody"></div>
                <div data-x="4" data-y="0" class="boardBody"></div>
                <div data-x="5" data-y="0" class="boardBody"></div>
                <div data-x="6" data-y="0" class="boardBody"></div>
                <div data-x="7" data-y="0" class="boardBody"></div>
                <div data-x="8" data-y="0" class="boardBody"></div>
                <div data-x="9" data-y="0" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">1</div>
                <div data-x="0" data-y="1" class="boardBody"></div>
                <div data-x="1" data-y="1" class="boardBody"></div>
                <div data-x="2" data-y="1" class="boardBody"></div>
                <div data-x="3" data-y="1" class="boardBody"></div>
                <div data-x="4" data-y="1" class="boardBody"></div>
                <div data-x="5" data-y="1" class="boardBody"></div>
                <div data-x="6" data-y="1" class="boardBody"></div>
                <div data-x="7" data-y="1" class="boardBody"></div>
                <div data-x="8" data-y="1" class="boardBody"></div>
                <div data-x="9" data-y="1" class="boardBody"></div>

            </div>
            <div>
                <div class="sideHeader">2</div>
                <div data-x="0" data-y="2" class="boardBody"></div>
                <div data-x="1" data-y="2" class="boardBody"></div>
                <div data-x="2" data-y="2" class="boardBody"></div>
                <div data-x="3" data-y="2" class="boardBody"></div>
                <div data-x="4" data-y="2" class="boardBody"></div>
                <div data-x="5" data-y="2" class="boardBody"></div>
                <div data-x="6" data-y="2" class="boardBody"></div>
                <div data-x="7" data-y="2" class="boardBody"></div>
                <div data-x="8" data-y="2" class="boardBody"></div>
                <div data-x="9" data-y="2" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">3</div>
                <div data-x="0" data-y="3" class="boardBody"></div>
                <div data-x="1" data-y="3" class="boardBody"></div>
                <div data-x="2" data-y="3" class="boardBody"></div>
                <div data-x="3" data-y="3" class="boardBody"></div>
                <div data-x="4" data-y="3" class="boardBody"></div>
                <div data-x="5" data-y="3" class="boardBody"></div>
                <div data-x="6" data-y="3" class="boardBody"></div>
                <div data-x="7" data-y="3" class="boardBody"></div>
                <div data-x="8" data-y="3" class="boardBody"></div>
                <div data-x="9" data-y="3" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">4</div>
                <div data-x="0" data-y="4" class="boardBody"></div>
                <div data-x="1" data-y="4" class="boardBody"></div>
                <div data-x="2" data-y="4" class="boardBody"></div>
                <div data-x="3" data-y="4" class="boardBody"></div>
                <div data-x="4" data-y="4" class="boardBody"></div>
                <div data-x="5" data-y="4" class="boardBody"></div>
                <div data-x="6" data-y="4" class="boardBody"></div>
                <div data-x="7" data-y="4" class="boardBody"></div>
                <div data-x="8" data-y="4" class="boardBody"></div>
                <div data-x="9" data-y="4" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">5</div>
                <div data-x="0" data-y="5" class="boardBody"></div>
                <div data-x="1" data-y="5" class="boardBody"></div>
                <div data-x="2" data-y="5" class="boardBody"></div>
                <div data-x="3" data-y="5" class="boardBody"></div>
                <div data-x="4" data-y="5" class="boardBody"></div>
                <div data-x="5" data-y="5" class="boardBody"></div>
                <div data-x="6" data-y="5" class="boardBody"></div>
                <div data-x="7" data-y="5" class="boardBody"></div>
                <div data-x="8" data-y="5" class="boardBody"></div>
                <div data-x="9" data-y="5" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">6</div>
                <div data-x="0" data-y="6" class="boardBody"></div>
                <div data-x="1" data-y="6" class="boardBody"></div>
                <div data-x="2" data-y="6" class="boardBody"></div>
                <div data-x="3" data-y="6" class="boardBody"></div>
                <div data-x="4" data-y="6" class="boardBody"></div>
                <div data-x="5" data-y="6" class="boardBody"></div>
                <div data-x="6" data-y="6" class="boardBody"></div>
                <div data-x="7" data-y="6" class="boardBody"></div>
                <div data-x="8" data-y="6" class="boardBody"></div>
                <div data-x="9" data-y="6" class="boardBody"></div>
            </div>
            <div>

                <div class="sideHeader">7</div>
                <div data-x="0" data-y="7" class="boardBody"></div>
                <div data-x="1" data-y="7" class="boardBody"></div>
                <div data-x="2" data-y="7" class="boardBody"></div>
                <div data-x="3" data-y="7" class="boardBody"></div>
                <div data-x="4" data-y="7" class="boardBody"></div>
                <div data-x="5" data-y="7" class="boardBody"></div>
                <div data-x="6" data-y="7" class="boardBody"></div>
                <div data-x="7" data-y="7" class="boardBody"></div>
                <div data-x="8" data-y="7" class="boardBody"></div>
                <div data-x="9" data-y="7" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">8</div>
                <div data-x="0" data-y="8" class="boardBody"></div>
                <div data-x="1" data-y="8" class="boardBody"></div>
                <div data-x="2" data-y="8" class="boardBody"></div>
                <div data-x="3" data-y="8" class="boardBody"></div>
                <div data-x="4" data-y="8" class="boardBody"></div>
                <div data-x="5" data-y="8" class="boardBody"></div>
                <div data-x="6" data-y="8" class="boardBody"></div>
                <div data-x="7" data-y="8" class="boardBody"></div>
                <div data-x="8" data-y="8" class="boardBody"></div>
                <div data-x="9" data-y="8" class="boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">9</div>
                <div data-x="0" data-y="9" class="boardBody"></div>
                <div data-x="1" data-y="9" class="boardBody"></div>
                <div data-x="2" data-y="9" class="boardBody"></div>
                <div data-x="3" data-y="9" class="boardBody"></div>
                <div data-x="4" data-y="9" class="boardBody"></div>
                <div data-x="5" data-y="9" class="boardBody"></div>
                <div data-x="6" data-y="9" class="boardBody"></div>
                <div data-x="7" data-y="9" class="boardBody"></div>
                <div data-x="8" data-y="9" class="boardBody"></div>
                <div data-x="9" data-y="9" class="boardBody"></div>
            </div>
        </div>
    </div>


    <div id="shipsBoard"> The Boats

        <div>
            <p>Destroyer: </p>

            <div id="destroyer" class="ship">
                <img src="/assets/images/ships/destroyer.png" width="70px" height="35px"/>
            </div>
        </div>
        <div>
            <p>Patrol Ship: </p>

            <div id="patrolShip" class="ship">
                <img src="/assets/images/ships/patrolShip.png" width="70px" height="35px"/>
            </div>
        </div>
        <div>
            <p>Aircraft Carrier: </p>

            <div id="aircraftCarrier" class="ship">
                <img src="/assets/images/ships/aircraftCarrier.png" width="175px" height="35px"/>
            </div>
        </div>
        <div>
            <p>Battleship: </p>

            <div id="battleship" class="ship">
                <img src="/assets/images/ships/battleship.png" width="140px" height="35px"/>
            </div>
        </div>
        <div>
            <p>Submarine: </p>

            <div id="submarine" class="ship">
                <img src="/assets/images/ships/submarine.png" width="105px" height="35px"/>
            </div>
        </div>

    </div>


    <div id="message">
        <div class='close'>
            <a href="@routes.Application.index()" onclick="resetMessage()">
                <img src="/assets/images/close.png"/>
            </a>
        </div>
    </div>

    <div id="popUpBlanket" class="popUpBlanket">
    </div>

</section>


<script src='@routes.Assets.at("javascripts/jquery-1.7.2.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery-ui-1.8.20.custom.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jQueryRotate.2.2.js")'></script>
<script src='@routes.Assets.at("javascripts/functions.js")'></script>
}