@(username: String)

@main(username) {


<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" type="hidden">

<section id="game" class="layout">
    <div class="battleshipBoard">
        <h2>BattleShip Board</h2>

            <div>
                <span class="boardHeader"></span>
                <span class="boardHeader">A</span>
                <span class="boardHeader">B</span>
                <span class="boardHeader">C</span>
                <span class="boardHeader">D</span>
                <span class="boardHeader">E</span>
                <span class="boardHeader">F</span>
                <span class="boardHeader">G</span>
                <span class="boardHeader">H</span>
                <span class="boardHeader">I</span>
                <span class="boardHeader">J</span>
            </div>


        <div>

            <span class="boardHeader">1</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>

        <div>

            <span class="boardHeader">2</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">3</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">4</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">5</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">6</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>
            <span class="boardHeader">7</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">8</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>

            <span class="boardHeader">9</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>
        <div>
            <span class="boardHeader">10</span>
            <span class="boardBody">B</span>
            <span class="boardBody">C</span>
            <span class="boardBody">D</span>
            <span class="boardBody">E</span>
            <span class="boardBody">F</span>
            <span class="boardBody">G</span>
            <span class="boardBody">H</span>
            <span class="boardBody">I</span>
            <span class="boardBody">J</span>
            <span class="boardBody">J</span>
        </div>


    </div>

    <div class="shipsBoard"> ACA VAN LOS BARCOS
    </div>

    <div class="battleshipChat">
    <div id="onChat">
        <div id="main">
            <div id="messages">
            </div>
            <input id="talk">
        </div>
    </div>
    </div>
</section>



<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
}