@(username: String)

@main(username) {


<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" type="hidden">

<section id="game" class="layout">


<div id="opponentBoard" class="board">
        <h2>Opponent's Board</h2>

        <div>

            <div class="boardHeader"></div>
            <div class="boardHeader">A</div>
            <div class="boardHeader">B</div>
            <div class="boardHeader">C</div>
            <div class="boardHeader">D</div>
            <div class="boardHeader">E</div>
            <div class="boardHeader">F</div>
            <div class="boardHeader">G</div>
            <div class="boardHeader">H</div>
            <div class="boardHeader">I</div>
            <div class="boardHeader">J</div>
        </div>

        <div>

            <div>
                <div class="sideHeader">1</div>
                <div class="1A boardBody"></div>
                <div class="1B boardBody"></div>
                <div class="1C boardBody"></div>
                <div class="1D boardBody"></div>
                <div class="1E boardBody"></div>
                <div class="1F boardBody"></div>
                <div class="1G boardBody"></div>
                <div class="1H boardBody"></div>
                <div class="1I boardBody"></div>
                <div class="1J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">2</div>
                <div class="2A boardBody"></div>
                <div class="2B boardBody"></div>
                <div class="2C boardBody"></div>
                <div class="2D boardBody"></div>
                <div class="2E boardBody"></div>
                <div class="2F boardBody"></div>
                <div class="2G boardBody"></div>
                <div class="2H boardBody"></div>
                <div class="2I boardBody"></div>
                <div class="2J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">3</div>
                <div class="3A boardBody"></div>
                <div class="3B boardBody"></div>
                <div class="3C boardBody"></div>
                <div class="3D boardBody"></div>
                <div class="3E boardBody"></div>
                <div class="3F boardBody"></div>
                <div class="3G boardBody"></div>
                <div class="3H boardBody"></div>
                <div class="3I boardBody"></div>
                <div class="3J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">4</div>
                <div class="4A boardBody"></div>
                <div class="4B boardBody"></div>
                <div class="4C boardBody"></div>
                <div class="4D boardBody"></div>
                <div class="4E boardBody"></div>
                <div class="4F boardBody"></div>
                <div class="4G boardBody"></div>
                <div class="4H boardBody"></div>
                <div class="4I boardBody"></div>
                <div class="4J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">5</div>
                <div class="5A boardBody"></div>
                <div class="5B boardBody"></div>
                <div class="5C boardBody"></div>
                <div class="5D boardBody"></div>
                <div class="5E boardBody"></div>
                <div class="5F boardBody"></div>
                <div class="5G boardBody"></div>
                <div class="5H boardBody"></div>
                <div class="5I boardBody"></div>
                <div class="5J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">6</div>
                <div class="6A boardBody"></div>
                <div class="6B boardBody"></div>
                <div class="6C boardBody"></div>
                <div class="6D boardBody"></div>
                <div class="6E boardBody"></div>
                <div class="6F boardBody"></div>
                <div class="6G boardBody"></div>
                <div class="6H boardBody"></div>
                <div class="6I boardBody"></div>
                <div class="6J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">7</div>
                <div class="7A boardBody"></div>
                <div class="7B boardBody"></div>
                <div class="7C boardBody"></div>
                <div class="7D boardBody"></div>
                <div class="7E boardBody"></div>
                <div class="7F boardBody"></div>
                <div class="7G boardBody"></div>
                <div class="7H boardBody"></div>
                <div class="7I boardBody"></div>
                <div class="7J boardBody"></div>
            </div>
            <div>

                <div class="sideHeader">8</div>
                <div class="8A boardBody"></div>
                <div class="8B boardBody"></div>
                <div class="8C boardBody"></div>
                <div class="8D boardBody"></div>
                <div class="8E boardBody"></div>
                <div class="8F boardBody"></div>
                <div class="8G boardBody"></div>
                <div class="8H boardBody"></div>
                <div class="8I boardBody"></div>
                <div class="8J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">9</div>
                <div class="9A boardBody"></div>
                <div class="9B boardBody"></div>
                <div class="9C boardBody"></div>
                <div class="9D boardBody"></div>
                <div class="9E boardBody"></div>
                <div class="9F boardBody"></div>
                <div class="9G boardBody"></div>
                <div class="9H boardBody"></div>
                <div class="9I boardBody"></div>
                <div class="9J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">10</div>
                <div class="10A boardBody"></div>
                <div class="10B boardBody"></div>
                <div class="10C boardBody"></div>
                <div class="10D boardBody"></div>
                <div class="10E boardBody"></div>
                <div class="10F boardBody"></div>
                <div class="10G boardBody"></div>
                <div class="10H boardBody"></div>
                <div class="10I boardBody"></div>
                <div class="10J boardBody"></div>
            </div>
        </div>
    </div>


    <div id="myBoard" class="board">
        <h2>Your Board</h2>

        <div>

            <div class="boardHeader"></div>
            <div class="boardHeader">A</div>
            <div class="boardHeader">B</div>
            <div class="boardHeader">C</div>
            <div class="boardHeader">D</div>
            <div class="boardHeader">E</div>
            <div class="boardHeader">F</div>
            <div class="boardHeader">G</div>
            <div class="boardHeader">H</div>
            <div class="boardHeader">I</div>
            <div class="boardHeader">J</div>
        </div>

        <div>

            <div>
                <div class="sideHeader">1</div>
                <div class="1A boardBody"></div>
                <div class="1B boardBody"></div>
                <div class="1C boardBody"></div>
                <div class="1D boardBody"></div>
                <div class="1E boardBody"></div>
                <div class="1F boardBody"></div>
                <div class="1G boardBody"></div>
                <div class="1H boardBody"></div>
                <div class="1I boardBody"></div>
                <div class="1J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">2</div>
                <div class="2A boardBody"></div>
                <div class="2B boardBody"></div>
                <div class="2C boardBody"></div>
                <div class="2D boardBody"></div>
                <div class="2E boardBody"></div>
                <div class="2F boardBody"></div>
                <div class="2G boardBody"></div>
                <div class="2H boardBody"></div>
                <div class="2I boardBody"></div>
                <div class="2J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">3</div>
                <div class="3A boardBody"></div>
                <div class="3B boardBody"></div>
                <div class="3C boardBody"></div>
                <div class="3D boardBody"></div>
                <div class="3E boardBody"></div>
                <div class="3F boardBody"></div>
                <div class="3G boardBody"></div>
                <div class="3H boardBody"></div>
                <div class="3I boardBody"></div>
                <div class="3J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">4</div>
                <div class="4A boardBody"></div>
                <div class="4B boardBody"></div>
                <div class="4C boardBody"></div>
                <div class="4D boardBody"></div>
                <div class="4E boardBody"></div>
                <div class="4F boardBody"></div>
                <div class="4G boardBody"></div>
                <div class="4H boardBody"></div>
                <div class="4I boardBody"></div>
                <div class="4J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">5</div>
                <div class="5A boardBody"></div>
                <div class="5B boardBody"></div>
                <div class="5C boardBody"></div>
                <div class="5D boardBody"></div>
                <div class="5E boardBody"></div>
                <div class="5F boardBody"></div>
                <div class="5G boardBody"></div>
                <div class="5H boardBody"></div>
                <div class="5I boardBody"></div>
                <div class="5J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">6</div>
                <div class="6A boardBody"></div>
                <div class="6B boardBody"></div>
                <div class="6C boardBody"></div>
                <div class="6D boardBody"></div>
                <div class="6E boardBody"></div>
                <div class="6F boardBody"></div>
                <div class="6G boardBody"></div>
                <div class="6H boardBody"></div>
                <div class="6I boardBody"></div>
                <div class="6J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">7</div>
                <div class="7A boardBody"></div>
                <div class="7B boardBody"></div>
                <div class="7C boardBody"></div>
                <div class="7D boardBody"></div>
                <div class="7E boardBody"></div>
                <div class="7F boardBody"></div>
                <div class="7G boardBody"></div>
                <div class="7H boardBody"></div>
                <div class="7I boardBody"></div>
                <div class="7J boardBody"></div>
            </div>
            <div>

                <div class="sideHeader">8</div>
                <div class="8A boardBody"></div>
                <div class="8B boardBody"></div>
                <div class="8C boardBody"></div>
                <div class="8D boardBody"></div>
                <div class="8E boardBody"></div>
                <div class="8F boardBody"></div>
                <div class="8G boardBody"></div>
                <div class="8H boardBody"></div>
                <div class="8I boardBody"></div>
                <div class="8J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">9</div>
                <div class="9A boardBody"></div>
                <div class="9B boardBody"></div>
                <div class="9C boardBody"></div>
                <div class="9D boardBody"></div>
                <div class="9E boardBody"></div>
                <div class="9F boardBody"></div>
                <div class="9G boardBody"></div>
                <div class="9H boardBody"></div>
                <div class="9I boardBody"></div>
                <div class="9J boardBody"></div>
            </div>
            <div>
                <div class="sideHeader">10</div>
                <div class="10A boardBody"></div>
                <div class="10B boardBody"></div>
                <div class="10C boardBody"></div>
                <div class="10D boardBody"></div>
                <div class="10E boardBody"></div>
                <div class="10F boardBody"></div>
                <div class="10G boardBody"></div>
                <div class="10H boardBody"></div>
                <div class="10I boardBody"></div>
                <div class="10J boardBody"></div>
            </div>
        </div>
    </div>



    <div class="shipsBoard"> ACA VAN LOS BARCOS
    </div>

    <div class="battleshipChat">
        <div id="onChat">
            <div id="main">
                <div id="messages">
                </div>
                <input id="talk">
                <input type="submit" value="Send">
            </div>
        </div>
    </div>

    <div id="message">
        <div class='close'>
            <a href="@routes.Application.index()">
                <img src="/assets/images/close.png"/>
            </a>
        </div>
        <p>Your opponent has abandoned the battle. You are the Winner! Congratulations!!</p>
    </div>

    <div id="popUpBlanket" class="popUpBlanket">
    </div>

</section>


<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
}